<div class="container col-xs-12 marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">


        <div ng-repeat="block in accueilBlock1" class="col-lg-4">
          <img class="img-circle" ng-src="{{block.lien}}" ng-alt="{{block.alt}}" ng-title="{{block.title}}" width="140" height="150">
          <h2>{{block.title}}</h2>
          <p>{{block.text}}</p>
          <p><a class="btn btn-default" href="#" role="button">En savoir plus »</a></p>
        </div>
        

      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->
      <div ng-repeat="feat in featuretteList">
       <div class="row featurette">
        <div class="col-md-7" ng-class="{'col-md-push-5': feat.side}">
          <h2 class="featurette-heading">{{feat.title}}<span class="text-muted">{{feat.subtitle}}</span></h2>
          <p class="lead">{{feat.text}}</p>
        </div>
        <div class="col-md-5" ng-class="{'col-md-pull-7': feat.side}">
          <img class="featurette-image img-responsive center-block" ng-src="{{feat.lien}}" alt="{{feat.alt}}" data-holder-rendered="true">
        </div>
      </div>     
<!--
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="" data-holder-rendered="true">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="" data-holder-rendered="true">
        </div>
      </div>


      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="" data-holder-rendered="true">
        </div>
      </div>
-->
      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
    
    </div>